// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  background-color: green;
  color: white;
  border-radius: 10px;
  background-size: 200px;
  font-size: 18px;
  padding: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
